.menue {
    -fx-padding: 10px;
    -fx-pref-height: 30px;
    -fx-background-color: rgb(122, 122, 122);
}

.timer {
    -fx-background-color: rgb(122, 122, 122);
}

.textInput {
    -fx-border: none;
    -fx-background-color: none;
    -fx-background-image: url("image/blank_hover.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 40px 30px;
    -fx-pref-width: 40px;
    -fx-pref-height: 30px;
}

.btn {
    -fx-border: none;
    -fx-background-color: none;
    -fx-background-image: url("image/blank.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

.btn:hover {
    -fx-background-image: url("image/blank_hover.jpg");
}

.feld {
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.feld-blank {
    -fx-background-image: url("image/blank.jpg");
}

.feld-blank:hover {
    -fx-background-image: url("image/blank_hover.jpg");
}

.feld-flag {
     -fx-background-image: url("image/flag.jpg");
 }

 .feld-flag:hover {
     -fx-background-image: url("image/flag_hover.jpg");
 }

.feld-mine {
    -fx-background-image: url("image/mine.jpg");
}

.feld-mine-notFound {
    -fx-background-image: url("image/mine_notFound.jpg");
}

.feld-0 {
    -fx-background-image: url("image/0.jpg");
}

.feld-1 {
    -fx-background-image: url("image/1.jpg");
}

.feld-2 {
    -fx-background-image: url("image/2.jpg");
}

.feld-3 {
    -fx-background-image: url("image/3.jpg");
}

.feld-4 {
    -fx-background-image: url("image/4.jpg");
}

.feld-5 {
    -fx-background-image: url("image/5.jpg");
}

.feld-6 {
    -fx-background-image: url("image/6.jpg");
}

.feld-7 {
    -fx-background-image: url("image/7.jpg");
}

.feld-8 {
    -fx-background-image: url("image/8.jpg");
}

.feld-wrong {
    -fx-background-image: url("image/wrong.jpg");
}
